/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #403631;
    color: white;
}

.container {
    max-width: 1024px;
    margin: 150px auto;
}

.profile {
    text-align: center;
}

.profile img {
    border-radius: 50%;
    margin: 0 auto;
}

.links a {
    font-size: 20pt;
    color: white;
}

.links img {
    width: 250px;
}

img.emoji {
    margin: 0px !important;
    display: inline !important;
}

@media (max-width: 600px) {
    .container {
        margin: 100px auto;
    }

    .profile img {
        max-width: 80%;
    }
}
